# Node.js
node_modules/
npm-debug.log
yarn-error.log

# React Native
.expo/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Android
android/.gradle/
android/app/build/
android/build/
android/local.properties

# iOS
ios/Pods/
ios/build/
ios/*.xcworkspace/xcuserdata/
ios/*.xcodeproj/xcuserdata/

# IDEs and OS
.idea/
.vscode/
*.swp
*.iml
.DS_Store
